
.nearby-places-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 70vh; 
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 50%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 70%;
    padding: 10px;
    box-sizing: border-box; 
  }
  
  button {
    width: 15%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #61dafb; 
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  button:hover {
    background-color: #4fa3d1;
  }
  